
<html>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<head>
  <link rel="stylesheet" href="/static/style.css">

  <script type='text/javascript'>
  var game_state = {{ game | safe }};
  </script>
</head>

<body>

  

<div id="app">

  <h1>PLAYER [[game_state.player]] : [[ game_state.state ]]</h1>

  <div v-for="piece in game_state.all_pieces" class="hidden">
    <img v-bind:id="piece.im_id" v-bind:src="piece.img" alt="plop" class="hidden">
  </div>

  <p><canvas id="game_board" width="400" height="400" v-on:click="click_cell()" style="border:3px solid #000000;"></canvas></p>
  <p><canvas id="selected" width="100" height="100" style="border:3px solid #000000;"></canvas></p>
  <p><canvas id="available" width="400" height="100" v-on:click="click_piece()" style="border:3px solid #000000;"></canvas></p>
  <p>
    [[selected_cell]]
    <br>
    [[selected_piece]]
  </p>
  <form class="" action="/play" method="post">
    <input type="hidden" name="cell" v-bind:value="selected_cell">
    <input type="hidden" name="piece" v-bind:value="selected_piece">
    <input type="submit" value="Play">
  </form>
  <script src="/static/vue.js"></script>
</div>
</body>
</html>
