<html>

<script src="https://cdn.jsdelivr.net/npm/vue">import axios from 'axios'
</script>

<head>
  <link rel="stylesheet" href="/static/style.css">

  <script type='text/javascript'>
  var game_state = {{ game | safe }};
  </script>
</head>

<body>

<h1>Grid Lines</h1>

<div class="game">


  <form id="app" action="/play" method="post">

    <p>Player [[game_state.player]] playing on state [[game_state.state]]</p>

    <div class="grid-container">
      <div v-for="cell in game_state.board_pieces" class="item">
        <input v-if="cell" v-model="selected_cell" type="image" v-bind:src="cell.img" alt="" v-on:click="select_cell(cell)" @click.prevent="return true">
        <input type="button" v-on:click="select_cell(cell)" @click.prevent="return true">
      </div>
    </div>

    <p v-if="game_state.selected">Selected piece
    <img v-bind:src="game_state.selected.img" alt="No selected piece"></img>
    </p>

    <p>Available pieces</p>

    <div class="grid-container">
      <div v-for="cell in game_state.available" class="item">
        <input v-model="selected_piece" type="image" v-bind:src="cell.img" alt="" v-on:click="select_piece(cell)" @click.prevent="return true">
      </div>
    </div>

    <input type="hidden" name="cell" v-bind:value="selected_cell">
    <input type="hidden" name="piece" v-bind:value="selected_piece">

    <input type="submit" value="PLAY">

    <script src="/static/vue.js"></script>

  </form>

</div>
